html {
    --bar-color-1: #f10;
    --bar-color-2: #fc0;
    --bar-color-3: #0f6;
    --bar-color-4: #09f;

    --fg-color: #eff;
    --bg-color: linear-gradient(-0.125turn, #012, #124);

}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: block;
    padding: 10px;

    background: var(--bg-color);
    color: var(--fg-color);

    border-radius: 0.5em;
    box-shadow: 0px 4px 8px #000a;
}

#time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 2em;
    font-weight: 750;
}

#date {
    width: 100%;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0em;
    font-weight: 375;
}

#seconds-bar {
    width: 160px;
    height: 10px;

    background-color: black;
}

#seconds-progress {
    width: 100%;
    height: inherit;

    border-radius: inherit;
}