html {
    --bar-color-1: #ff1900;
    --bar-color-2: #ffcc00;
    --bar-color-3: #00ff6a;
    --bar-color-4: #0099ff;

    --fg-color: #e1f4f3;
    --bg-color: linear-gradient(-0.125turn, #0c1821, #1b2a41);

}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: block;
    padding: 10px;

    background: var(--bg-color);
    color: var(--fg-color);

    border-radius: 0.25em;
    box-shadow: 4px 4px 2px black;
}

#time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 2em;
    font-weight: 750;
}

#date {
    width: 100%;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0em;
    font-weight: 375;
}

#seconds-bar {
    width: 160px;
    height: 10px;

    background-color: black;
}

#seconds-progress {
    width: 100%;
    height: inherit;

    background-color: white;
    border-radius: inherit;
}